@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&family=Quicksand:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
  font-family: 'Quicksand', 'Nunito', sans-serif !important;
}

.font-body {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 600 !important;
  color: var(--color-gray);
}

.font-quicksand-400 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 400 !important;
}

.font-quicksand-500 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500 !important;
}

.font-quicksand-600 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 600 !important;
}

.font-quicksand-700 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 700 !important;
}